extends layout

block content
  p
    | <a href = "/N533"> N533</a> &nbsp;
    | <a href = "/N530"> N530</a> &nbsp;
    | <a href = "/N528-529"> N528/529</a> &nbsp;
    | <a href = "/N527"> N527</a> &nbsp;
    | <a href = "/N525"> N525</a> &nbsp;
    | <a href = "/N523"> N523</a> &nbsp;
    | <a href = "/N519"> N519</a> &nbsp;
    | <a href = "/N431"> N431</a> &nbsp;
    | <a href = "/N430"> N430</a> &nbsp;
    | <a href = "/N428A"> N428A</a> &nbsp;
    | <a href = "/N427"> N427</a> &nbsp;
    | <a href = "/N424"> N424</a> &nbsp;
  p
    |appelsap appelsap appelsap appelsap appelsap appelsap
    |appelsap appelsap
    |appelsap appelsap appelsap appelsap appelsap appelsap appelsap appelsap appelsap
  block sidebar
    .widget
        h1 Widget
        p
        | appelsap appelsap appelsap
        |appelsap appelsap appelsap
        p
        |appelsap appelsap appelsap
        |appelsap