doctype html
html
  head
    title #{title} - CSDM Room Checker
    link(rel='stylesheet', href='/stylesheets/style.styl')
  body
    header
        h1 Rooms
        .container
            .main-content
                block content
                .sidebar
                    block sidebar
                 footer
                    p Running on node with Express, Jade and Stylus
